#userlogin_body {
	padding-right: 0px;
	padding-left: 0px;
	background: url(../images/login/user_all_bg.gif) #226cc5 repeat-x 50% top;
	padding-bottom: 0px;
	margin: 110px 0px 0px;
	font: 12px Arial;
	padding-top: 0px;
	text-decoration: none
}

#user_login {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_top {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_main {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_bottom {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_login dl {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_login dd {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_top {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_main {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_bottom {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_top ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_main ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_bottom ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_top li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_main li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_bottom li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

form {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

#user_login {
	margin: 0px auto;
	width: 590px
}

#user_top {
	CLEAR: both
}

#user_main {
	CLEAR: both
}

#user_bottom {
	CLEAR: both
}

#user_top li {
	float: left;
	LIST-STYLE-TYPE: none
}

#user_main li {
	float: left;
	LIST-STYLE-TYPE: none
}

#user_bottom li {
	float: left;
	LIST-STYLE-TYPE: none
}
.user_system_title{
	text-align: center;
	margin-bottom: 30px;
}
.user_system_title font{
	font-family:"ºÚÌå";
	font-size: 40px; 
    color: white;
}
.user_login_tip {
	text-align:center;
	width:250px;
}
.user_login_tip font {
	color: red;
	size: 12px;
	font-weight: bold;
}
.user_top_r {
	background: url(../images/login/user_top_r.gif) no-repeat 50% top
}

.user_top_c {
	background: url(../images/login/user_top_c.gif) no-repeat 50% top
}

.user_top_l {
	background: url(../images/login/user_top_l.gif) no-repeat 50% top
}

.user_main_r {
	background: url(../images/login/user_main_r.gif) #bec5cc no-repeat 50%
		top
}

.user_main_c {
	background: url(../images/login/user_main_c.gif) #bec5cc no-repeat 50%
		top;
	width: 280px
}

.user_main_l {
	background: url(../images/login/user_main_l.gif) #bec5cc no-repeat 50%
		top
}

.user_bottom_r {
	background: url(../images/login/user_bottom_r.gif) no-repeat 50% top
}

.user_bottom_c {
	background: url(../images/login/user_bottom_c.gif) no-repeat 50% top;
	COLOR: #fff;
	line-height: 117px;
	padding-top: 20px;
	TEXT-ALIGN: right
}

.user_bottom_c a {
	COLOR: yellow;
	TEXT-DECORATION: underline
}

.user_bottom_c a:hover {
	COLOR: #c00
}

.user_bottom_l {
	background: url(../images/login/user_bottom_l.gif) no-repeat 50% top
}

.user_top_r {
	float: left;
	width: 180px
}

.user_main_r {
	float: left;
	width: 180px
}

.user_bottom_r {
	float: left;
	width: 180px
}

.user_main_c {
	float: left;
	width: 280px
}

.user_top_c {
	float: left;
	width: 280px
}

.user_bottom_c {
	float: left;
	width: 280px
}

.user_top_l {
	float: left;
	width: 129px
}

.user_main_l {
	float: left;
	width: 129px
}

.user_bottom_l {
	float: left;
	width: 129px
}

.user_top_r {
	height: 116px
}

.user_top_c {
	height: 116px
}

.user_top_l {
	height: 116px
}

.user_main_r {
	height: 139px
}

.user_main_c {
	height: 139px
}

.user_main_l {
	height: 139px
}

.user_main_r {
	line-height: 139px
}

.user_bottom_r {
	height: 117px
}

.user_bottom_c {
	height: 117px
}

.user_bottom_l {
	height: 117px
}

.user_main_box {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

.user_main_box ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

.user_main_box li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}

.user_main_box ul {
	clear: both
}

.user_main_box li {
	float: left;
	LIST-STYLE-TYPE: none
}

.user_main_box .user_main_text {
	line-height: 34px;
	height: 34px
}

.user_main_box .user_main_input {
	line-height: 34px;
	height: 34px
}

.user_main_box .user_main_text {
	width: 65px;
	COLOR: #000
}

.user_main_box .user_main_input img {
	margin-bottom: -2px;
	margin-left: -25px
}

.username_input {
	border-top-width: 0px;
	padding-left: 25px;
	border-left-width: 0px;
	background: url(../images/login/user_login_name.gif) no-repeat;
	border-bottom-width: 0px;
	width: 165px;
	line-height: 20px;
	height: 21px;
	border-right-width: 0px
}

.password_input {
	border-top-width: 0px;
	padding-left: 25px;
	border-left-width: 0px;
	background: url(../images/login/user_login_password.gif) no-repeat;
	border-bottom-width: 0px;
	width: 165px;
	line-height: 20px;
	height: 21px;
	border-right-width: 0px
}

.login_button {
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px width: 111px;
	height: 122px
}