<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.FileMapper">
	<insert id="insert" parameterType="File" useGeneratedKeys="true" keyProperty="id">
		insert into t_file
		(name,typeId,path,uploadTime) values
		(#{name},#{typeId},#{path},#{uploadTime})
	</insert>
	
	<update id="update" parameterType="File">
		update t_file
		<set>
			name=#{name},
			typeId=#{typeId},
			path=#{path},
			uploadTime=#{uploadTime}
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from t_file where id=#{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from t_file where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</delete>
	
	<select id="selectById" resultType="File">
		select * from t_file where id=#{id}
	</select>
	
	<sql id="gridWhere">
		from t_file
		<where>
		</where>
	</sql>
	<select id="listPaged" resultType="File">
		select id,name,typeId,uploadTime
		<include refid="gridWhere"/>
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
	
</mapper>