<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="orderJob" class="com.hy.manager.job.CheckExpireOrderJob"></bean>
<bean id="skuJob" class="com.hy.manager.job.UpdateSkuScoreJob"></bean>
<bean id="orderJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject">
		<ref bean="orderJob" />
	</property> 
	<property name="targetMethod">  <!-- 要执行的方法名称 -->
		<value>execute</value>
	</property>
</bean>  
<bean id="skuJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject">
		<ref bean="skuJob" />
	</property> 
	<property name="targetMethod">  <!-- 要执行的方法名称 -->
		<value>execute</value>
	</property>
</bean>        
<!-- ======================== 调度触发器 ======================== -->
<bean id="orderJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	<property name="jobDetail" ref="orderJobDetail"></property>
	<property name="cronExpression" value="0/5 * * * * ?"></property><!-- 每5秒执行一次，5秒只是为了方便测试，具体时间间隔到时候再商议 -->
</bean>      
<bean id="skuJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	<property name="jobDetail" ref="skuJobDetail"></property>
	<property name="cronExpression" value="0 38 21 * * ?"></property><!-- 每天凌晨两点执行 -->
</bean>      
<!-- ======================== 调度工厂 ======================== -->
<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="triggers">
		<list>
			<ref bean="orderJobTrigger" />
			<ref bean="skuJobTrigger" />
		</list>
	</property>
</bean> 

</beans>
