<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.business.CategoryMapper">
	<insert id="insert" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
		insert into t_category
		(name,level,parentId)
		values
		(#{name},#{level},#{parentId})
	</insert>
	
	<update id="update" parameterType="Category">
		update t_category
		<set>
			name=#{name},
			level=#{level},
			parentId=#{parentId}
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from t_category where id=#{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from t_category where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</delete>
	
	<select id="selectById" resultType="Category">
		select * from t_category where id=#{id}
	</select>
	
	<sql id="gridWhere">
		from t_category u
		<where>
		</where>
	</sql>
	<select id="listPaged" resultType="Category">
		select t1.id,t1.name,t1.level,t2.name parentName
		from t_category t1
		left join t_category t2 on t1.parentId = t2.id 
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
</mapper>