<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.business.CommentMapper">
	<insert id="insert" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		insert into t_comment
		(customerId,orderId,skuId,createTime,content,score)
		values
		(#{customerId},#{orderId},#{skuId},#{createTime},#{content},#{score})
	</insert>
	
	<update id="update" parameterType="Comment">
		update t_comment
		<set>
			content=#{content},
			score=#{score}
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from t_comment where id=#{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from t_comment where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</delete>
	<select id="selectById" resultType="Comment">
		select * from t_comment where id=#{id}
	</select>
	<select id="listBySkuId" resultType="map">
		select a.createTime,a.content,a.score,b.username
		from t_comment a
		left join t_customer b on a.customerId=b.id
		where skuId=#{skuId}
		order by a.id desc
		<if test="param.rows > 0">
		limit #{param.start},#{param.rows}
		</if>
	</select>
	<select id="listByOrderId" resultType="map">
		select a.createTime,a.content,a.score,b.username
		from t_comment a
		left join t_customer b on a.customerId=b.id
		where orderId=#{orderId}
		order by a.id desc
		<if test="param.rows > 0">
		limit #{param.start},#{param.rows}
		</if>
	</select>
	
	<sql id="gridWhere">
		from t_comment c
		left join t_user u on c.customerId=u.id
		<where>
		</where>
	</sql>
	<select id="listPaged" resultType="Comment">
		select c.id,c.customerId,c.orderId,c.createTime,c.content,c.score,u.username
		<include refid="gridWhere"/>
		limit #{start},#{rows}
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
</mapper>