<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.business.OrderMapper">
	
	<sql id="gridWhere">
		from t_order o
		left join t_customer u on o.customerId=u.id
		<where>
		</where>
	</sql>
	<insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
		insert into t_order
		(createTime,payTime,status,no,customerId,addressId,price,discountPrice,freight,message,payType,logisticsNo)
		values
		(	
			#{createTime},#{payTime},#{status},#{no},#{customerId},#{addressId},#{price},
			#{discountPrice},#{freight},#{message},#{payType},#{logisticsNo}
		)
	</insert>
	<insert id="addSku" parameterType="SkuDTO" useGeneratedKeys="true" keyProperty="id">
		insert into t_order_sku
		(orderId,skuId,quantity,unitPrice)
		values
		(#{orderId},#{skuId},#{quantity},#{unitPrice})
	</insert>
	<update id="updateStatus" parameterType="Order">
		update t_order
		<set>
			status=#{status},
		</set>
		where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</update>
	<update id="decreaseSkuQuantity">
		update set t_sku set quantity = (quantity-#{quantity}) where id = #{skuId}
	</update>
	<update id="update" parameterType="Order">
		update t_order
		<set>
			payTime=#{payTime},
			status=#{status},
			<if test="null != logisticsNo and '' != logisticsNo">
			logisticsNo=#{logisticsNo},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateSkuQuantity">
		update t_sku a inner join 
		(	
			select t1.skuId,sum(quantity) as quantity from t_order_sku t1 
			inner join t_order t2 on t1.orderId = t2.id 
			where t2.status = 0  and t2.createTime &lt; date_sub(now(),interval 1 day) 
			group by t1.skuId
		) b
		on a.id = b.skuId
		set a.quantity = a.quantity + b.quantity 
	</update>
	<update id="updateExpireOrder">
		update t_order set status = 6   where createTime &lt; date_sub(now(),interval 1 day) and status = 0
	</update>
	
	<select id="listPaged" resultType="Order">
		select 
		    a . *, b.username,b.showname, c.address,c.consignee,c.phone
		from
		    t_order a
		        left join
		    t_customer b ON a.customerId = b.id
		        left join
		    t_address c ON a.addressId = c.id
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
	
	<select id="selectById" resultType="Order">
		select * from t_order where id=#{id}
	</select>
	<select id="orderList" resultMap="OrderListMap" >
		select 
		    t3.*, t4.name skuName, t4.standard, t5.mainImgUuid
		from
		    (select 
		        t1.id,
		            t1.no,
		            t1.status,
		            t1.freight,
		            t1.discountPrice,
		            sum(t2.quantity) quantity,
		            t2.quantity skuQuantity,
		            t2.skuId
		    from
		        t_order t1
		    left join t_order_sku t2 ON t1.id = t2.orderId
		    where
		        t1.customerId = #{customerId}
		    group by t1.id
		    <if test="param.rows > 0">
			limit #{param.start},#{param.rows}
			</if>
		    ) t3
		        left join
		    t_sku t4 ON t3.skuId = t4.id
		        left join
		    t_product t5 ON t4.productId = t5.id
	</select>
	<select id="orderDetail" resultMap="OrderDetailMap">
		select  
			t1.id,t1.createTime,t1.payTime,t1.payType,t1.freight,t1.no,t1.status,
			t2.id addressId,t2.phone,t2.address,t2.consignee,
			t3.quantity,t4.id skuId,t4.discountPrice,t4.standard,t5.mainImgUuid,
			t6.createTime commetTime,t6.content
		from t_order t1
			left join t_address t2 on t1.addressId = t2.id
			left join t_order_sku t3 on t1.id = t3.orderId
			left join t_sku t4 on t3.skuId = t4.id
			left join t_product t5 on t4.productid = t5.id
			left join t_comment t6 on t1.id=t6.orderId
		where t1.id = #{orderId}
	</select>
	
	<resultMap type="hashmap" id="OrderListMap">
		<id property="id" column="id"/>
		<result property="no" column="no"/>
		<result property="status" column="status"/>
		<result property="freight" column="freight"/>
		<result property="discountPrice" column="discountPrice"/>
		<result property="quantity" column="quantity"/>
		<association property="sku" javaType="HashMap">
			<result property="id" column="skuId"/>
			<result property="name" column="skuName"/>
			<result property="standard" column="standard"/>
			<result property="quantity" column="skuQuantity"/>
			<result property="mainImgUuid" column="mainImgUuid"/>
		</association>
	</resultMap>
	
	<resultMap type="hashmap" id="OrderDetailMap">
		<id property="id" column="id"/>
		<result property="createTime" column="createTime"/>
		<result property="payTime" column="payTime"/>
		<result property="payType" column="payType"/>
		<result property="freight" column="freight"/>
		<result property="no" column="no"/>
		<result property="status" column="status"/>
		<association property="address" javaType="HashMap">
			<result property="id" column="addressId"/>
			<result property="phone" column="phone"/>
			<result property="consignee" column="consignee"/>
			<result property="address" column="address"/>
		</association>
		<association property="comment" javaType="HashMap">
			<result property="createTime" column="commetTime"/>
			<result property="content" column="content"/>
		</association>
		<collection property="skus" javaType="ArrayList" ofType="hashmap">
			<result property="id" column="skuId"/>
			<result property="quantity" column="quantity"/>
			<result property="discountPrice" column="discountPrice"/>
			<result property="standard" column="standard"/>
			<result property="mainImgUuid" column="mainImgUuid"/>
		</collection>
	</resultMap>
</mapper>