<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.business.OrderMapper">
	
	<sql id="gridWhere">
		from t_order o
		left join t_customer u on o.customerId=u.id
		<where>
		</where>
	</sql>
	<insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
		insert into t_order
		(createTime,payTime,status,no,customerId,addressId,price,discountPrice,freight,message,payType,logisticsNo)
		values
		(	
			#{createTime},#{payTime},#{status},#{no},#{customerId},#{addressId},#{price},
			#{discountPrice},#{freight},#{message},#{payType},#{logisticsNo}
		)
	</insert>
	<insert id="addSku" parameterType="SkuDTO" useGeneratedKeys="true" keyProperty="id">
		insert into t_order_sku
		(orderId,skuId,quantity,unitPrice)
		values
		(#{orderId},#{skuId},#{quantity},#{unitPrice})
	</insert>
	<update id="updateStatus" parameterType="Order">
		update t_order
		<set>
			status=#{status},
		</set>
		where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</update>
	<update id="decreaseSkuQuantity">
		update set t_sku set quantity = (quantity-#{quantity}) where id = #{skuId}
	</update>
	<update id="update" parameterType="Order">
		update t_order
		<set>
			payTime=#{payTime},
			status=#{status},
			<if test="null != logisticsNo and '' != logisticsNo">
			logisticsNo=#{logisticsNo},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateSkuQuantity">
		update t_sku a inner join 
		(	
			select t1.skuId,sum(quantity) as quantity from t_order_sku t1 
			inner join t_order t2 on t1.orderId = t2.id 
			where t2.status = 0  and t2.createTime &lt; date_sub(now(),interval 1 day) 
			group by t1.skuId
		) b
		on a.id = b.skuId
		set a.quantity = a.quantity + b.quantity 
	</update>
	<update id="updateExpireOrder">
		update t_order set status = 6   where createTime &lt; date_sub(now(),interval 1 day) and status = 0
	</update>
	
	<select id="listPaged" resultType="Order">
		select 
		    a . *, b.username,b.showname, c.address,c.consignee,c.phone
		from
		    t_order a
		        left join
		    t_customer b ON a.customerId = b.id
		        left join
		    t_address c ON a.addressId = c.id
		limit #{start},#{rows}
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
	
	<select id="selectById" resultType="Order">
		select * from t_order where id=#{id}
	</select>
	<select id="orderList" resultType="map">
		select 
		    t1.name skuName,t1.originalPrice,t1.discountPrice,t1.standard,t2.quantity buy_quantity,t2.unitPrice,t3.freight,t4.mainImgUuid
		from
		    t_sku t1
		        left join
		    t_order_sku t2 ON t1.id = t2.skuId
				left join
			t_order t3 on t2.orderId = t3.id
				left join
			t_product t4 on t1.productId = t4.id
		where t3.customerId = #{customerId}
		group by t3.id
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
	<select id="orderDetail" resultType="map">
		select 
   			t1.name skuName,t1.originalPrice,t1.discountPrice,t1.standard,t2.quantity buy_quantity,t2.unitPrice,t3.freight,t4.mainImgUuid
		from
		    t_sku t1
		        left join
		    t_order_sku t2 ON t1.id = t2.skuId
				left join
			t_order t3 on t2.orderId = t3.id
				left join
			t_product t4 on t1.productId = t4.id
		where  t3.id = #{orderId}
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
</mapper>