<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.manager.domain.business.SkuMapper">
	<insert id="insert" parameterType="Sku" useGeneratedKeys="true" keyProperty="id">
		insert into t_sku
		(status,productId,name,originalPrice,discountPrice,standard,quantity)
		values
		(#{status},#{productId},#{name},#{originalPrice},#{discountPrice},#{standard},#{quantity})
	</insert>
	
	<update id="update" parameterType="Sku">
		update t_sku
		<set>
			name=#{name},
			status=#{status},
			productId=#{productId},
			originalPrice=#{originalPrice},
			discountPrice=#{discountPrice},
			standard=#{standard},
			quantity=#{quantity}
		</set>
		where id = #{id}
	</update>
	<update id="updateSkuScore">
		update t_sku a 
			left join (SELECT skuId,avg(score) as avgScore FROM fresh.t_comment group by skuId) b 
			on a.id = b.skuId
		set a.avgScore =  b.avgScore
	</update>
	<delete id="deleteById" parameterType="int">
		delete from t_sku where id=#{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from t_sku where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</delete>
	
	<select id="selectById" resultType="Sku">
		select * from t_sku where id=#{id}
	</select>
	<select id="selectByOrderId" resultType="Sku">
		select a.name,a.originalPrice,discountPrice,standard,b.quantity 
		from t_sku a inner join t_order_sku b on a.id = b.skuId 
		where b.orderId = #{orderId}
	</select>
	<sql id="gridWhere">
		from t_sku u
		<where>
		</where>
	</sql>
	<select id="listPaged" resultType="Sku">
		select a.*,b.name,b.name productName,b.status productStatus from t_sku a left join t_product b
		on a.productId = b.id
		<if test="rows > 0">
		limit #{start},#{rows}
		</if>
	</select>
	<select id="count" resultType="long">
		select count(*)
		<include refid="gridWhere"/>
	</select>
</mapper>